<%- include('header', { currentPage: 'account' }); -%>
    <div id="colorlib-main">
        <section class="ftco-section pt-4 mb-5 ftco-intro">
            <div class="container-fluid px-3 px-md-0">
                <div class="row">
                    <div class="col-md-12 mb-4">
                        <h1 class="h2">My Account</h1>
                        <hr>
                        <p>Total collected data displayed below</p>
                    </div>
                    <div class="col-md-12">
                        <h2 class="h4">Info: <%- username %></h2>
                        <hr>
                        <table class="table table-bordered" id="myTable">
                            <thead class="thead-dark">
                                <tr>
                                <th scope="col"></th>
                                <th scope="col"></th>
                                </tr>
                         
                            </thead>
                            <tbody id="rows">
                            <tr>
                                <th scope="col">Email</th>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="col">Sex</th>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="col">Ethnicity</th>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="col">Birthday Date</th>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="col">Height</th>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="col">Weight</th>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="col">IR Risk</th>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="col">HTN Risk</th>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="col">Weight Goal</th>
                                <td></td>
                            </tr>
                            </tbody>
                        </table>
                        <br>
                        <a href="/account-info/delete-data">Delete all data</a><br>
                        <a href="/account-info/delete-user">Delete account</a><br>
                        <a href="">Enter batch mode</a>
                        <h2>Past measurements</h2>
                        <%-history%>
                    </div>


                </div>
            </div>
        </section>
    </div>
</div>
</section>
<div class="chatBot">
    <div class="chatBotHeading">
        <label for="chatTextBox" id="chatOpenTrigger" class="">Need a specialist? Ask Me!</label>
    </div>
    <hr class="">
    <div class="chatBody">
        <div class="chatSession">
        </div>
    </div>
    <form class="chatForm" autocomplete="off">
        <div class="typingArea">
            <textarea name="chatInput" id="chatTextBox" class="textArea" onblur="if(!validateMessage()) this.value = 'Type here...'" onfocus="if(!validateMessage()) this.value = ''"></textarea>
            <button type="submit" class="sendButton" id="sendButton"><img src="./Gfx/send.svg" alt="Send" srcset=""></button>
        </div>
        <button type="button" id="chatCloseTrigger">Close Chat!</button>
    </form>
</div>
<script src="./js/chatBotConversation.js"></script>
<script src="./js/chatBotValidate.js"></script>
<script src="./js/chatBotAnimate.js"></script>
<script src="./js/main.js"></script>
<%- include('footer'); -%>

