<!doctype html>
<html lang="en">
<head>
    <title>Diabetes type 2 risk assessment menu</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="css/style.css">

    <script src="./js/main.js"></script>

</head>
<body>
<div id="colorlib-page">
    <a href="#" class="js-colorlib-nav-toggle colorlib-nav-toggle"><i></i></a>
    <aside id="colorlib-aside" role="complementary" class="js-fullheight">
        <nav id="colorlib-main-menu" role="navigation">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/risk">Risk assessment</a></li>
                <li><a href="/personalized-rec" class="colorlib-active">Personalized Tools</a>
                </li>
                <li><a href="#">Specialists</a></li>
                <li><a href="/account-info">My Account</a></li>
            </ul>
        </nav>
    </aside>

    <div id="colorlib-main">
        <section class="ftco-section pt-4 mb-5 ftco-intro">
            <div class="container-fluid px-3 px-md-0">
                <h3>Personalised reommendations</h3>
                <hr>
                <b>Step 1 : Please help us first collect some basic information about you.</b>
                <form action="energy-expenditure.html" method="POST">
                    <!-- SEX -->
                    <label>Sex:&ensp; </label>
                    <input type="radio" id="male" name="gender" value="male"> Male
                    <input type="radio" id="female" name="gender" value="female"> Female<br><br>

                    <label for="ethnicity">Ethnicity:</label>
                    <select name="ethnicities" id="ethnicity">
                        <option value="americanIndian">American Indian</option>
                        <option value="americanIndian">Alaska Native</option>
                        <option value="americanIndian">Asian</option>
                        <option value="americanIndian">Black</option>
                        <option value="americanIndian">African American</option>
                        <option value="americanIndian">Caucasian</option>
                        <option value="americanIndian">Hispanic</option>
                        <option value="americanIndian">Latino</option>
                        <option value="americanIndian">Native Hawaiian </option>
                        <option value="americanIndian">Other Pacific Islander </option>
                    </select><br><br>

                    <label for="birth">Date of birth:</label>
                    <input type="date" id="birth" value=""><br><br>

                    <label for="height">Height (in cm):</label>
                    <input type="text" id="height" name="user-height"><br><br>

                    <label for="weight">Weight (in kgs):</label>
                    <input type="text" id="weight" name="user-weight"><br><br>

                    <input type="submit" name="submit-data" id="submitBaseData" value="Next"/>
                </form>
            </div>
        </section>
    </div>
</div>
</section>

</body>
</html>

