<!doctype html>
<html lang="en">
<head>
    <title>Diabetes type 2 risk assessment menu</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="css/style.css">

    <script src="./js/main.js"></script>

</head>
<body>
<div id="colorlib-page">
    <a href="#" class="js-colorlib-nav-toggle colorlib-nav-toggle"><i></i></a>
    <aside id="colorlib-aside" role="complementary" class="js-fullheight">
        <nav id="colorlib-main-menu" role="navigation">
            <ul>
                <li ><a href="/">Home</a></li>
                <li><a href="/risk">Risk assessment</a></li>
                <li class="colorlib-active"><a href="/personalized-rec">Personalized Tools</a></li>
                <li><a href="#">Specialists</a></li>
                <li><a href="/account-info">My Account</a></li>
                <li><%- status_msg %></li>
            </ul>
        </nav>
    </aside>

    <div id="colorlib-main">
        <section class="ftco-section pt-4 mb-5 ftco-intro">
            <div class="container-fluid px-3 px-md-0">
                <b>Step 4 : Personalization</b>
                <form action="/result-rec" method="POST">

                    <div class="alert alert-info">
                        <strong>Message:</strong><br>
                        In order to achieve your weight loss goal, it is recommended to increase your physical activity levels and decrease your daily energy intake.
                        <br>
                        You could equally share your effort by increasing your energy expenditure by (Required energy deficit * 50%) kcal and decreasing your daily energy intake by (Required energy deficit * 50%) kcal.
                        <br>
                        Please remember the importance of combining diet and exercise to achieve long lasting weight changes and weight loss maintenance, as well as significant health benefits.

                    </div> <br>

                    <div class="slidecontainer">
                        <p>If you wish to share your effort between exercise and diet in a different proportion, please use the following bar</p>
                        Exercise <input type="range" min="1" max="100" value="50" class="slider" id="myRange"> Diet
                    </div>
                    <br><br>
                    <input type="submit" id="submitData" name="sumbit-data" value="Get recommendations">
                </form>
            </div>
        </section>
    </div>
</div>
</section>

</body>
</html>

